---
import Nav from "layouts/partials/nav.astro";

const { pathname } = Astro.url;
---

<header
  uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;"
>
  <nav class="uk-navbar-container">
    <div class="mx-auto max-w-7xl px-4 md:px-8 xl:px-0">
      <div class="uk-navbar" uk-navbar="mode: click">
        <div class="uk-navbar-left hidden gap-6 md:flex">
          <a class="uk-navbar-item text-primary" href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 256 256"
              class="h-6 w-6"
              ><rect width="256" height="256" fill="none"></rect><line
                x1="208"
                y1="128"
                x2="128"
                y2="208"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"></line><line
                x1="192"
                y1="40"
                x2="40"
                y2="192"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="16"></line></svg
            >
            <span class="font-bold">franken/ui</span>
          </a>
          <ul class="uk-navbar-nav hidden gap-6 lg:flex">
            <li class={pathname.startsWith("/docs") ? "uk-active" : ""}>
              <a href="/docs/introduction">Docs</a>
            </li>
            <li>
              <a href="#not-available" uk-toggle>Themes</a>
            </li>
            <li class={pathname.startsWith("/examples") ? "uk-active" : ""}>
              <a href="/examples/mail">Examples</a>
            </li>
            <li>
              <a href="#not-available" uk-toggle>Blocks</a>
            </li>
            <li>
              <a href="#not-available" uk-toggle>Github</a>
            </li>
          </ul>
        </div>

        <div class="uk-navbar-right ml-0 flex-1 md:ml-auto md:flex-none">
          <div class="uk-navbar-item flex w-full">
            <div class="flex-1">
              <button
                id="docsearch-toggle"
                class="relative inline-flex h-8 w-full items-center justify-start whitespace-nowrap rounded-[0.5rem] border border-input bg-background px-4 py-2 text-sm font-normal text-muted-foreground shadow-none transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 sm:pr-12 md:w-40 lg:w-64"
              >
                <span class="hidden lg:inline-flex">
                  Search documentation...
                </span>
                <span class="inline-flex lg:hidden"> Search... </span>
                <kbd
                  class="pointer-events-none absolute right-[0.3rem] top-[0.3rem] hidden h-5 select-none items-center gap-1 rounded border bg-muted px-1.5 font-mono text-[10px] font-medium opacity-100 sm:flex"
                >
                  <span class="text-xs">⌘</span>K
                </kbd>
              </button>
            </div>
            <ul class="uk-iconnav flex-none">
              <li>
                <a id="theme-toggle">
                  <svg
                    id="theme-toggle-light-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-sun dark:hidden"
                    ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"
                    ></path><path d="M12 20v2"></path><path
                      d="m4.93 4.93 1.41 1.41"></path><path
                      d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"
                    ></path><path d="M20 12h2"></path><path
                      d="m6.34 17.66-1.41 1.41"></path><path
                      d="m19.07 4.93-1.41 1.41"></path></svg
                  >
                  <svg
                    id="theme-toggle-dark-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-moon hidden dark:block"
                    ><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
                  >
                </a>
              </li>
              <li class="lg:hidden">
                <a href="#menu" uk-toggle>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-menu"
                    ><line x1="4" x2="20" y1="12" y2="12"></line><line
                      x1="4"
                      x2="20"
                      y1="6"
                      y2="6"></line><line x1="4" x2="20" y1="18" y2="18"
                    ></line></svg
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div id="menu" class="uk-offcanvas" uk-offcanvas="overlay: true;">
  <div class="uk-offcanvas-bar p-6">
    <button class="uk-offcanvas-close right-6 top-6" type="button" uk-close
    ></button>

    <a class="mb-4 flex items-center" href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        class="mr-2 h-4 w-4"
        ><rect width="256" height="256" fill="none"></rect><line
          x1="208"
          y1="128"
          x2="128"
          y2="208"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"></line><line
          x1="192"
          y1="40"
          x2="40"
          y2="192"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="16"></line></svg
      >
      <span class="font-bold"> franken/ui </span>
    </a>

    <Nav />
  </div>
</div>
