---
import Mail from "examples/mail.astro";
import Main from "layouts/main.astro";
import Announcement from "layouts/partials/announcement.astro";

const doc = {
  title:
    "HTML-first, framework-agnostic implementation of shadcn/ui - franken/ui",
  meta: {
    description:
      "HTML-first, framework-agnostic, beautifully designed components that you can truly copy and paste into your site.",
  },
};
---

<Main doc={doc}>
  <main class="px-4 md:px-8">
    <div class="mx-auto max-w-7xl">
      <div
        class="mx-auto flex max-w-[980px] flex-col items-center gap-2 py-8 md:py-12 md:pb-8 lg:py-24 lg:pb-20"
      >
        <Announcement />
        <h1
          class="text-center text-3xl font-bold leading-tight tracking-tighter md:text-6xl lg:leading-[1.1]"
        >
          Franken UI
        </h1>
        <span
          class="max-w-[750px] text-center text-lg text-muted-foreground sm:text-xl"
          style="display: inline-block; vertical-align: top; text-decoration: inherit; max-width: 568px;"
          >HTML-first, framework-agnostic, beautifully designed components that
          you can truly copy and paste into your site. Accessible. Customizable.
          Open Source.</span
        >
        <div
          class="flex w-full items-center justify-center space-x-4 py-4 md:pb-10"
        >
          <a class="uk-button uk-button-primary" href="/docs/introduction">
            Get Started
          </a>
          <a
            class="uk-button uk-button-default gap-x-2"
            href="https://github.com/sveltecult/franken-ui"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-github"
              ><path
                d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
              ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
            >
            Github
          </a>
        </div>
      </div>
    </div>

    <div class="overflow-hidden">
      <ul
        class="uk-subnav uk-subnav-secondary -mb-10 flex-nowrap overflow-auto pb-10"
      >
        <li class="uk-active">
          <a class="h-7" href="/examples/mail">Mail</a>
        </li>
        <li>
          <a class="h-7" href="/examples/dashboard">Dashboard</a>
        </li>
        <li>
          <a class="h-7" href="/examples/cards">Cards</a>
        </li>
        <li>
          <a class="h-7" href="/examples/tasks">Tasks</a>
        </li>
        <li>
          <a class="h-7" href="#not-available" uk-toggle>Playground</a>
        </li>
        <li>
          <a class="h-7" href="#not-available" uk-toggle>Forms</a>
        </li>
        <li>
          <a class="h-7" href="#not-available" uk-toggle>Music</a>
        </li>
        <li>
          <a class="h-7" href="#not-available" uk-toggle>Authentication</a>
        </li>
      </ul>
    </div>

    <div class="mt-4 overflow-hidden rounded-lg border border-border shadow-lg">
      <Mail />
    </div>
  </main>
</Main>
