---
const { sale } = Astro.props;
---

<div class="flex items-center">
  <span
    class="relative flex h-9 w-9 shrink-0 overflow-hidden rounded-full bg-accent"
  >
    <img
      class="aspect-square h-full w-full"
      alt="Avatar"
      src={`https://api.dicebear.com/8.x/lorelei/svg?seed=${sale.name}`}
    />
  </span>
  <div class="ml-4 space-y-1">
    <p class="text-sm font-medium leading-none">
      {sale.name}
    </p>
    <p class="text-sm text-muted-foreground">
      {sale.email}
    </p>
  </div>
  <div class="ml-auto font-medium">{sale.amount}</div>
</div>
