---
import Master from "./master.astro";
import Navbar from "./partials/navbar.astro";
import Nav from "./partials/nav.astro";

const { doc } = Astro.props;
const { pathname } = Astro.url;
---

<Master doc={doc}>
  <div class="flex min-h-screen flex-col">
    <div class="flex-1">
      <Navbar>
        <Fragment slot="offcanvas">
          <Nav pathname={pathname} />
        </Fragment>
      </Navbar>

      <slot />
    </div>

    <div class="flex-none">
      <footer
        class="mx-auto max-w-7xl flex-none px-4 py-6 md:px-8 md:py-0 xl:px-0"
      >
        <div
          class="flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
        >
          <p
            class="text-balance text-center text-sm leading-loose text-muted-foreground md:text-left"
          >
            Ported by <a
              class="uk-link"
              href="https://x.com/sveltecult"
              target="_blank">sveltecult</a
            >, designed by <a
              class="uk-link"
              href="https://twitter.com/shadcn"
              target="_blank">shadcn</a
            >. The source code is available on <a
              class="uk-link"
              href="https://github.com/sveltecult/franken-ui"
              target="_blank">Github</a
            >.
          </p>
        </div>
      </footer>
    </div>
  </div>
</Master>
